<style>
 
</style>
<footer >
    <div class="f-info position-sticky bottom-0 bg-light p-3" id=footer-bg>
        <div class="info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="f-brand">&copy;Online Booking Private Limited</div>
        <div class="f-info-link" >
            <a href="/" id=footer-bg>Privacy.</a>
            <a href="/" id=footer-bg>Terms.</a>
        </div>

    </div>
</footer>
