<% layout('/layouts/boilerplate') -%>


  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Create a New Listing</h3>
      <form method="POST" action="/listing" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="Best Vila title" type="text" class="form-control" required />
        <div class="invalid-feedback">Title look like  </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <textarea name="listing[description]" class="form-control" required></textarea>
          <div class="invalid-feedback">Please Enter a Description</div>
        </div>

        <!-- <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input name="listing[image]" placeholder="http:url" type="text" class="form-control" required />
        </div>
        <div class="row"> -->

          <div class="mb-3">
            <label for="image" class="form-label">Upload Image </label>
            <input name="listing[image]" placeholder="image.png" type="file" class="form-control" required />
          </div>
          <div class="row">
          
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1200" class="form-control" required />
            <div class="invalid-feedback">Please Enter a valid Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input name="listing[country]" placeholder="Gwalior" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please Enter a valid Location</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">country</label>
          <input name="listing[location]" placeholder="India" type="text" class="form-control" required/>
          <div class="invalid-feedback">Please Enter a valid Country</div>
        </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
       
      </form>
     
    </div>
  </div>
  <br>